.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
/* NAVBAR STYLE */
.topNavBar {
  background-color: orange;
  display: flex;
  justify-content: space-between;
}
.home-link {
  float: left;
  margin-left: 5px;
  color: black;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
.home-link:hover {
  text-decoration: none;
}
.navbar-container {
  text-align: right;
  border-radius: 3px;
  margin-top:5px;
}
.top-menu-buttons {
  text-align: right;
  border: solid 1px #ADADAD;
  margin-right: 2px;   
}
.sidebar {
  font-weight: bold;
  color:black;
}
.sidebar a {
  color: black;
}
.sidebar a:hover{
  text-decoration: none;
  background-color:rgb(211, 206, 206);
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
/* SEARCH MENU STYLE */
.filter-button {
  border: solid 1px #ADADAD;
  margin-right: 2px;
  margin: 2px;
}
.filter-button-container {
  text-align: right;
  margin: 2px;  
}
.filter-inputs {
  width: 50%;
  margin: 0 auto;
}
.search-menu-container {
  background-color: #F5F5F5;
  border-radius: 3px;
/*   border: 1px solid grey;
 */  display: block;
  margin: 5px;
}
.entry {
  display: inline-block;
  padding: 10px;
  margin-right: 10%;
  width: 40%;
  font-weight: bold;
}
/* TABLE STYLES */


table {
  table-layout: fixed;
}

.list-table{
  cursor: pointer;
}

.edit-popup {
  float: right;
  margin-right: 2px;
}

.outer-container {
  z-index: 1;
}

.arrow-button {
  margin-left: 10px;
  color: black;
  size: fixed;
}

/* CAR DETAIL STYLE */
.detail-buttons {
  text-align:right;
  margin-right: 2px;
}
.detail-back-button {
  float: left;
  margin-right: 2px;
}

.detail-view-footer {
  text-align: right;
}

.label {
  font-weight: bold;
}